<?xml version="1.0"?>

<model>
  <name>table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dawid Seredyński</name>
    <email>dawid.seredynski@gmail.com</email>
  </author>

  <description>
    A table of size 1.5 x 0.7 and height 1.0.
  </description>
</model>
